.buiding {
    width: 200%;
}
.building-map {
    aspect-ratio: 1/1;
    width: 100%;
    background-image: url("../../image/map/building.png");
    background-position: center;
    background-size: cover;
}
.building-map-svg {
    width: 100%;
    height: 100%;
}
.building-map-polygon {
    opacity: 0.3;
    /*fill: #57546a;*/
    transition-duration: 0.2s;
    fill: blue;
}
polygon:hover{
    fill: #c1151a;
    transition-duration: 0.2s;
}
.detail-level {
    aspect-ratio: 1/1;
    width: 100%;
    background-image: url("../../image/map/level_detail.png");
    background-position: center;
    background-size: cover;
}