.buiding {
    width: 100%;
}
.building-map {
    aspect-ratio: 1/1;
    width: 100%;
    background-image: url("../../image/map/building.png");
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    animation: ease-in-out slideBackGround 0.5s;
}
.building-map-svg {
    width: 100%;
    height: 100%;
    animation: ease-in-out topSlide 0.5s;
}
.building-map-polygon {
    fill: rgba(255, 255, 255, 0);
}
.polygon-select {
    stroke: rgba(255, 255, 255, 0.5);
    fill: rgba(0, 255, 0, 0.5);
    transition-duration: 0.2s;
    stroke-width: 0.2px;
}
.polygon-nonselect{
    stroke: #151018;
    fill: rgba(255, 255, 255, 0.2);
    transition-duration: 0.2s;
    stroke-width: 0.2px;
}
.polygon-nonselect:hover {
    fill: rgba(255, 255, 255, 0.8);
    transition-duration: 0.2s;
    stroke: rgba(255, 255, 255, 0.8);
}
.detail-level {
    aspect-ratio: 1/1;
    width: 100%;
    background-image: url("../../image/map/level_detail.png");
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    animation: ease-in-out slideBackGround 0.5s;
}
.detail-level-back {
    width: 100px;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 20px;
}
.level-notification {
    position: absolute;
    right: var(--offset);
    bottom: var(--offset);
    width: 180px;
    height: 80%;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    padding: var(--offset) 0;
}
.level-notification-item {
    display: grid;
    grid-template-columns: 1fr repeat(2, 40px);
    padding: 0 var(--offset);
    margin: 2px 0;
    animation: ease-in-out bottomSlide 0.5s;

}
.level-notification-item-key {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.level-notification-item-key-name {
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.level-notification-item-request {
    background-image: url("../../image/icon/request.png");
}
.level-notification-item-hold {
    background-image: url("../../image/icon/calendar.png");
}
.level-notification-item-request, .level-notification-item-hold {
    height: 100%;
    width: 85%;
    margin: 0 10%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.notification-number {
    background-color: #c1151a;
    position: absolute;
    color: white;
    display: flex;
    width: 25px;
    height: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transform: translateX(15px);
    font-size: 12px;
}
.detail-level-title {
    position: absolute;
    top: 20px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: calc((100% - 200px ) / 2);
}
.detail-level-notification {
    width: 120px;
    height: 30px;
    position: absolute;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    transform: translateX(-50px) translateY(-15px);
    display: grid;
    grid-template-columns: 50px repeat(2, 1fr);
    padding: 5px;
}
.detail-level-notification p {
    margin: 0;
    text-align: center;
    font-weight: bold;
}
.detail-level-notification-number {
    background-color: #c1151a;
    color: white;
    display: flex;
    width: 25px;
    height: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transform: translateX(25%) translateY(-50%);
    font-size: 12px;
}
@keyframes slideBackGround {
    from{
        background-position-x: -100px;
        opacity: 0;
    }
}
.text-svg-personal {
    font-size: 3px;
    fill: white;
    stroke: #151018;
    stroke-width: 0.05px;
}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 414px) {
    .level-notification {
        display: none;
    }
    .detail-level-notification {
        width: 65px;
        height: 25px;
        grid-template-columns: 60px;
        transform: translateX(-25px) translateY(-15px);
        font-size: 12px;
    }
    .detail-level-notification p {
        text-align: center;
    }
    .level-notification-item-request, .level-notification-item-hold {
        display: none;
    }
    .detail-level-title {
        width: 140px;
        height: 30px;
        left: calc((100% - 140px ) / 2);
    }
}

