:root{
    --widthCalendarDetail: 400px;
    --heightCalendarDetail: 275px;
    --widthCalendarDisplay: 250px;
}
.customer-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: var(--offset);
}
.customer-page-schedule {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "status list" "detail list";
    width: 100%;
    height: 100%;
    background-image: url("../../image/logo/r-logo-gray.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 200px;
    position: relative;
}
.customer-page-status {
    grid-area: status;
    display: grid;
    grid-template-columns: 1fr 50px;
    padding: var(--offset);
}
.customer-page-schedule-canlendar {
    position: absolute;
    top: var(--offset);
    left: var(--offset);
    display: grid;
    grid-template-columns: 1fr var(--widthCalendarDisplay);
    padding: var(--offset);
    width: var(--widthCalendarDetail);
    height: var(--heightCalendarDetail);
    border: #151018 1px solid;

}
.customer-page-schedule-notification {
    margin-left: var(--offset);
}
.customer-page-schedule-list {
    grid-area: list;
    width: 100%;
    height: calc((100vw - 4 * var(--offset))/3);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    overflow: auto;
}
.customer-page-schedule-list-item {
    height: 60px;
    padding: var(--offset);
    border-bottom: #151018 1px solid;
}
.customer-page-schedule-list-item-unselect {
    border-left: #151018 1px solid;
    transition-duration: 0.2s;
}
.customer-page-schedule-list-item-unselect:hover {
    transition-duration: 0.2s;
    background-color: #e49db1;
}
.customer-page-schedule-detail {
    grid-area: detail;
}
.customer-detail-request-iconHolding {
    background-image: url("../../image/calendar/holding.png");
}
.customer-detail-request-iconWaiting {
    background-image: url("../../image/calendar/waiting.png");
}
.customer-detail-request-iconDone {
    background-image: url("../../image/calendar/done.png");
}
.customer-detail-request-iconDone, .customer-detail-request-iconWaiting, .customer-detail-request-iconHolding{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.customer-detail-request-title {
    display: flex;
    justify-content: right;
    align-items: center;
    color: #57546a;
    font-size: 20px;
    font-weight: bold;
    padding: var(--offset);
}
@media screen and (max-width: 1024px) {
    .customer-page {
        grid-template-columns: 1fr;
    }
    .customer-page-schedule-notification {
        margin-left: 0;
    }
    .customer-page-schedule {
        grid-template-rows: var(--heightCalendarDetail) 50px 1fr;
        grid-template-areas: "none list" "status list" "detail list";
    }
    .customer-page-schedule-notification {
        margin-top: var(--offset);
    }
    .customer-page-schedule-list {
        height: calc(var(--heightCalendarDetail) + 580px);
    }

}
@media screen and (max-width: 414px) {

}