.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    margin: 0;
    z-index: 100;
    top: 0;
    padding: var(--offset);

}
.header-inset {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr 30px 150px;
    padding: 4px;
}
.header-logo {
    background-image: url("../../image/logo/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: 0.2s;
}
.header-logo:hover {
    transition-duration: 0.2s;
    scale: 0.95;
}
.header-button {
    width: calc(100% - 2 * var(--offset));
    height: calc(100% - 2 * var(--offset));
    margin-top: var(--offset);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hover-button{
    color: white;
    cursor: pointer;
    transition-duration: 0.2s;
    border: white 1px solid;
}
.hover-button:hover{
    scale: 1.03;
    transition-duration: 0.2s;
    background-color: #151018;
    color: #c1151a;
    border: #c1151a 1px solid;
}