:root {
    --calendarHeight: 400px;
    --chatbox: 320px
}
.managePage {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-areas: "map option";
    padding: var(--offset);
}
.managePage-map {
    grid-area: map;
}
.managePage-option {
    grid-area: option;
    display: grid;
    grid-template-areas: "calendar chat" "request chat";
    grid-template-columns: 1fr var(--chatbox);
    grid-template-rows: var(--calendarHeight) 1fr;
    margin-left: var(--offset);
}
.managePage-option-calendar {
    grid-area: calendar;
}
.managePage-option-chat {
    grid-area: chat;
}
.managePage-option-request {
    grid-area: request;
}