.customer-detail-request {
    padding: var(--offset);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: calc(var(--widthCalendarDetail)) 1fr;
    grid-template-rows: calc(var(--heightCalendarDetail) - 50px) 1fr 150px 40px;
}
.customer-detail-request-done {
    grid-template-areas: "none info" "description description" "comment comment" "button button";
}
.customer-detail-request-waiting {
    grid-template-areas: "none description" "none description" "none description" "button button";
}
.customer-detail-request-holding {
    grid-template-areas: "none description" "none description" "none description" "button button";
}
.customer-detail-request-button {
    grid-area: button;
    display: flex;
    flex-direction: row-reverse;
}
.customer-detail-request-button div {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 calc(var(--offset)/2);
}
.customer-detail-request-content {
    grid-area: description;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: var(--offset);
}
.customer-detail-request-content p {
    margin: 0;
}
.star {
    width: 100%;
    aspect-ratio: 1/1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition-duration: 0.2s;
    cursor: pointer;
}
.star-container {
    width: 250px;
    grid-area: star;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.starvote {
    background-image: url("../../image/icon/star.png");
}
.starnovote {
    background-image: url("../../image/icon/nostar.png");
}
.star:hover {
    scale: 1.2;
    transition-duration: 0.2s;
}
.comment {
    grid-area: comment;
    margin: var(--offset) 0 var(--offset) var(--widthCalendarDetail);
    width: calc(100% - var(--widthCalendarDetail));
    height: calc(100% - 2 * var(--offset));
    border: #57546a 1px solid;
    padding: var(--offset);
    resize: none;
    font-size: 16px;
}
.customer-detail-request-content-info {
    grid-area: info;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 50px 1fr;
    padding: var(--offset);
    grid-template-areas: "avatar star" "avatar description";
}
.customer-detail-request-content-info-description {
    grid-area: description;
    padding-left: var(--offset);
}
.customer-detail-request-content-info-description p {
    margin: 5px;
}
.info-avatar-pic {
    grid-area: avatar;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    width: calc(100% - 12px);
    margin: 5px;
    aspect-ratio: 1/1;
    border: #151018 1px solid;
}
.info-description p {
    margin: 5px;
}
.info-description-mess {
    resize: none;
    margin: 0;
}
.description-time-customerCalendar {
    text-align: center;
}
.description-time-customerCalendar p:nth-child(2) {
    margin: 0;
    font-size: 25px;
}
.description-time-customerCalendar p:nth-child(3) {
    margin: 2px;
}
.customer-detail-request-waiting-description {
    grid-area: description;
    padding: var(--offset);
}
.customer-detail-request-waiting-description-info {
    display: grid;
    grid-template-columns: 100px 1fr;
}
.customer-detail-request-waiting-description-info-avatar {
    width: calc(100% - var(--offset));
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: #151018 1px solid;
    background-position: center;
    background-size: cover;
}
.customer-detail-request-waiting p {
    margin: 10px;
}
.customer-detail-request-holding p {
    margin: 10px;
}
.comment-noborder {
    border: none;
}
.customer-detail-request-holding-button {
    grid-area: button;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}
.customer-detail-request-holding-description {
    grid-area: description;
    padding: var(--offset);
}
.customer-detail-request-waiting-textarea {
    width: 100%;
    height: 200px;
    border: none;
    padding: var(--offset);
    resize: none;
    font-size: 14px;
}
@media screen and (max-width: 1024px) {
    .customer-detail-request {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 150px 40px;
    }
    .customer-detail-request-holding {
        grid-template-areas: "description description" "description description" "description description" "button button";
    }
    .customer-detail-request-done {
        grid-template-areas: "info info" "description description" "comment comment" "button button";
    }
    .customer-detail-request-waiting {
        grid-template-areas: "description description" "description description" "description description" "button button";
    }
    .customer-detail-request-holding-button {
        justify-content: right;
    }
    .customer-detail-request-content {
        grid-template-columns: 150px 1fr;
    }
    .comment {
        margin: var(--offset) 0;
        width: 100%;
    }

}
@media screen and (max-width: 414px) {

}